@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    box-sizing: border-box;
    transition: .2s linear;
    font-family: 'Nunito Sans', sans-serif;
} 
:root{
  --brand-primary:#0768AC;
  --brand-secondary:	#03C180;
 	--bg_default:	#FFFFFF;
 	--bg_body:	#F0F9FF;
 	--lines-color:	#DDDDDD;
 	--body-text:	#333333;
 	--heart-color:	#DC143C;
}
.dark-theme{
    --brand-primary:#0768AC;
    --brand-secondary:	#03C180;
 	--bg_default:	#1A1A1A;
 	--bg_body:	#282828;
 	--lines-color:	#000000;
 	--body-text:	#EDEDED;
 	--heart-color:	#DC143C;
}
#header{
  color: var(--bg_body);
}
#footer{
  color: var(--bg_body);
}
top-of-page{
    background-color: var(--bg_default);
}
#web-topics{
    color: var(--brand-primary);
    text-align: left;
    font-weight: 600;
    padding-left: 5%;
    margin-right: auto;
} 
.top-of-page h4{
    position: relative;
    color: var(--brand-secondary);
    text-align: left;
    padding-left: 35%;
    font-weight: bold;
    margin-top: -2rem;
    padding-bottom: 0%;
    background-color: var(--bg_default);

}
.top-of-page p{
    color: var(--body-text);
    font-size: 20px;
    text-align: left; 
    margin-top: -1rem;
    margin-bottom: 0;
    padding-left: 35%;
    background-color: var(--bg_default);
}
#top {
    display: flex;
    align-items: center;
    background-color: var(--bg_default);
  }
  .top-button{
    padding-right: 3rem;
    background-color: var(--bg_default);
    color: var(	--body-text);
  }
  button{
    margin-left: auto;
    border-radius: 5px;
    background-color: var(--bg_default);
    border-color: var(--lines-color);
    color: var(	--body-text);
 }
 .topics-number{
    color: 	var(--body-text);
    padding: 1%;
    font-weight: bold;
 }

#mycanvas{
    position: relative;
    width:100%;
    height: 90px;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: -10px;
    background-color: var(--bg_default);
    
}
#wrapper{
    width: 100%;
    padding: 0 8%;  
    background: var(--bg_body);
    padding-top: 2rem;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
.search-bar {
  position: relative;
  /*display: flex;*/
  width: 100%;
  background-color: var(--bg_body);
}
.logo {
  position: absolute;
  top: 55%;
  left: 0.6rem;
  transform: translateY(-50%);
  color: var(--body-text);
}
.search-input {
  padding-left: 2.5rem;
  width: 80%;
  background-color: var(--bg_default);
  height: 2.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
#sortSelect{
  height: 2.5rem;
  width: 10%;
  margin-left: -0.3rem;
  background-color: var(--bg_default);
  color: var(--body-text);
}
#filterSelect{
  height: 2.5rem;
  width: 10%;
  margin-left: -0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: var(--bg_default);
  color: var(--body-text);
}
.box{
   /* padding: 20px;*/
    text-align: center;
    border-radius: 10px;
    background: var(--bg_default);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}
.box img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.box h3{
    color: 	var(--body-text);
    padding: 0px 0px 10px 5px;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}
.box p{
    color: 	var(--body-text);
    font-size: 13px;
    line-height: 1.6;
    text-align: left;
    padding-left: 5px;
    font-weight: 550;
}

.box form{
    display: flex;
    justify-content: left;
}
.rating {
    display: inline-block;
    font-size: 0;
    position: relative;
    text-transform: capitalize;
    padding-right: 5px;
    color: var(--lines-color);
  }
    
  label {
    float: right;
    padding: 0;
    font-size: 25px;
    cursor: pointer;
  }   
  label::before {
    content: "\2606";
    padding-right: 4px;
    display: inline-block;
    transition: 0.2s;
  } 
  span {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 10px;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.15s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(-50%);
    font-size: 10px;
  } 
  label:hover span {
    opacity: 1;
    transform: none;
    letter-spacing: 0;
  }
  input:checked ~ label::before {
    content: "\2605";
    color: orange;
    filter: drop-shadow(0 0 4px);
    transform: rotate(.2turn);
  }  
  
  @media screen and (max-width: 480px) {
    #wrapper{
        padding: 20px;
    }
    .search-bar {
      display: flex; 
      flex-direction: column; 
      width: 100%;
    }
 
  }
 
  
  footer ion-icon{
    color: var(--heart-color);
    
    padding-top: 5%;
  }  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg_body);
    padding: 2% 0;
    font-weight: bold;
    color: var(	--body-text);
  }
  
  footer p,
  footer span {
    margin: 0 4px;
  }
  